<div class="row">
    <div class="col-md-4">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">Perfiles</h5>
                <p class="card-category">Seleccione un perfil para visualizar los usuarios</p>
            </div>
            <div class="card-body ">
                <p-table #ptablePerfiles [value]="lstPerfiles" [(selection)]="perfilSelected" [rowHover]="true"
                    [globalFilterFields]="['nombre']" [scrollable]="true" scrollHeight="400px" [sortOrder]="-1"
                    sortField="cantidad" selectionMode="single" dataKey="id" (onRowSelect)="onSelect_FilaPerfil()"
                    styleClass="cssPtable">
                    <ng-template pTemplate="caption" styleClass="cssEncabezado">
                        <div class="ui-table-globalfilter-container" style="text-align: right;">
                            <input pInputText type="text"
                                (input)="ptablePerfiles.filterGlobal($event.target.value, 'contains')"
                                placeholder="Buscar" style="width: 20%;" class="cssInputBuscar" />
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr class="cssFontCuerpo">
                            <th pSortableColumn="id" style="width: 20%;text-align: center;">id&nbsp;<p-sortIcon
                                    field="id">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="nombre">Perfil&nbsp;
                                <p-sortIcon field="nombre"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData>
                        <tr [pSelectableRow]="rowData" class="cssFontCuerpo">
                            <td style="width: 20%;text-align: right;">{{rowData.id}}</td>
                            <td>{{rowData.nombre}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr style="font-size: 11px;">
                            <td colspan="2" style="text-align:left">Ningún registro encontrado.</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        Se encontraron {{lstPerfiles?.length}} registros
                    </ng-template>
                </p-table>
            </div>
            <div class="card-footer ">
                <hr />
                <div class="stats">
                    <i class="fa fa-calendar"></i> Actualizado
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Listado de Usuarios</h5>
                <p class="card-category">Usuarios según el perfil seleccionado</p>
            </div>
            <div class="card-body">
                <button pButton pRipple type="button" label="Nuevo usuario" class="p-button-rounded" icon="pi pi-plus"
                    (click)="click_btnNuevoUsuario()"></button>
                &nbsp;
                &nbsp;
                <button pButton pRipple type="button" label="Editar usuario" class="p-button-rounded p-button-success"
                    icon="pi pi-pencil" (click)="click_btnEditarUsuario()"></button>
                <p-table #ptableUsuario [value]="lstUsuarios" [(selection)]="usuarioSelected" [rowHover]="true"
                    [globalFilterFields]="['nombres','apellidos','dni','usuario']" [scrollable]="true"
                    scrollHeight="400px" [sortOrder]="1" sortField="usuario" styleClass="cssPtable"
                    selectionMode="single" dataKey="id">
                    <ng-template pTemplate="caption" styleClass="cssEncabezado">
                        <div class="ui-table-globalfilter-container" style="text-align: right;">
                            <input pInputText type="text"
                                (input)="ptableUsuario.filterGlobal($event.target.value, 'contains')"
                                placeholder="Buscar" style="width: 20%;" class="cssInputBuscar" />
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr class="cssFontCuerpo">
                            <th pSortableColumn="id" style="width: 20%;text-align: center;">id&nbsp;<p-sortIcon
                                    field="id"></p-sortIcon>
                            </th>
                            <th pSortableColumn="usuario">Usuario&nbsp;<p-sortIcon field="usuario"></p-sortIcon>
                            </th>
                            <th pSortableColumn="dni">DNI&nbsp;<p-sortIcon field="dni"></p-sortIcon>
                            </th>
                            <th pSortableColumn="nombres">Nombres&nbsp;<p-sortIcon field="nombres"></p-sortIcon>
                            </th>
                            <th pSortableColumn="apellidos">Apellidos&nbsp;<p-sortIcon field="apellidos"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData>
                        <tr [pSelectableRow]="rowData" class="cssFontCuerpo">
                            <td style=" width: 20%;text-align: right;">{{rowData.id}}</td>
                            <td>{{rowData.usuario}}</td>
                            <td>{{rowData.dni}}</td>
                            <td>{{rowData.nombres}}</td>
                            <td>{{rowData.apellidos}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr style="font-size: 11px;">
                            <td colspan="2" style="text-align:left">Ningún registro encontrado.</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        Se encontraron {{lstUsuarios?.length}} registros
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Usuario" [(visible)]="boolShowModalUsuario" [modal]="true" [style]="{width: '30vw'}"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false" (onHide)="hide_modalUsuario()">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col p-md-4 cssSinPadding">
            <label for="idusuario">Id</label>
            <span class="p-input-icon-left">
                <i class="pi pi-lock"></i>
                <input id="idusuario" type="text" class="p-inputtext-sm" pInputText
                    [(ngModel)]="usuarioSelected && usuarioSelected.id" [disabled]="true" />
            </span>
        </div>
        <div class="p-field p-col p-md-4">
            <label for="codusuario">Cód Usuario</label>
            <span class="p-input-icon-left">
                <i class="pi pi-user"></i>
                <input id="codusuario" type="text" pInputText class="p-inputtext-sm"
                    [(ngModel)]="usuarioSelected && usuarioSelected.usuario" [disabled]="!boolCodUsuarioActivo" />
            </span>
            <small id="username1-help">Máx 10 caracteres</small>
        </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col p-md-4">
            <label for="docidentidad">Doc Identidad</label>
            <span class="p-input-icon-left">
                <i class="pi pi-id-card"></i>
                <input id="docidentidad" type="text" pInputText class="p-inputtext-sm"
                    [(ngModel)]="usuarioSelected && usuarioSelected.dni" pKeyFilter="int" maxlength="10" />
            </span>
            <small id="username1-help">Máx 10 caracteres</small>
        </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col p-md-12">
            <label for="txtcontrasena">Contraseña</label>
            <span class="p-input-icon-left">
                <i class="pi pi-key"></i>
                <input id="txtcontrasena" type="text" pInputText class="p-inputtext-sm"
                    [(ngModel)]="usuarioSelected && usuarioSelected.contrasena" />
            </span>
            <small id="username1-help">Máx 20 caracteres</small>
            <br/>
            <small id="username1-help" *ngIf="!boolNuevoUsuario">Al editar los datos deberá también especificar una
                nueva contraseña</small>
        </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col p-md-12">
            <label for="txtnombres">Nombres</label>
            <span class="p-input-icon-left">
                <i class="pi pi-tag"></i>
                <input id="txtnombres" type="text" pInputText class="p-inputtext-sm"
                    [(ngModel)]="usuarioSelected && usuarioSelected.nombres" maxlength="30" />
            </span>
            <small id="username1-help">Longitud máxima, 30 caracteres</small>
        </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
            <label for="txtapellidos">Apellidos</label>
            <span class="p-input-icon-left">
                <i class="pi pi-tags"></i>
                <input id="txtapellidos" type="text" pInputText class="p-inputtext-sm"
                    [(ngModel)]="usuarioSelected && usuarioSelected.apellidos" maxlength="50" />
            </span>
            <small id="username1-help">Longitud máxima, 50 caracteres</small>
        </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
            <label for="ddlbases">Base</label>
            <p-dropdown id="ddlbases" [options]="lstBases" optionLabel="nombre"
                [(ngModel)]="usuarioSelected && usuarioSelected.base">
            </p-dropdown>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="click_btnGrabarUsuario()" label="Grabar" class="p-button-text" [disabled]="!boolBtnGuardarActivo"></p-button>
        <p-button icon="pi pi-times" (click)="boolShowModalUsuario=false" label="Cancelar"></p-button>
    </ng-template>
</p-dialog>