:host ::ng-deep .cssPtable *{
    font-size: 14px;
}

:host ::ng-deep  .p-datatable .p-datatable-header {
    background: none !important;
    border: none !important;
    padding: 4px;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th{
    padding: 8px;;
}

.cssFontCuerpo  > td{
    padding: 10px;
}

:host ::ng-deep .p-col {
    padding: 0.5rem !important;
}

.p-field {
    margin-bottom: 0rem;
}

.p-disabled, .p-component:disabled {
    opacity: 1;
}
